body {
    margin: 0 0;
    padding: 0 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#teams {
    position: relative;
    background-image: url("./images/team.png");
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;
}



body::-webkit-scrollbar {

    width: 10px;
}

body::-webkit-scrollbar-track {

    background-color: rgb(53, 95, 53);

    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {

    background-color: #e48787;

    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {

    background-color: #990000;

}

.text-shadow {
    text-shadow: 2px 2px 2px #000000b2;

}